<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <servlet-class>com.example.servlet.controller.GoogleLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GitHubLoginServlet</servlet-name>
        <servlet-class>com.example.servlet.controller.GitHubLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateBlogsServerLet</servlet-name>
        <servlet-class>com.example.servlet.controller.Nutritionist.CreateBlogsServerLet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBlogsServerLet</servlet-name>
        <servlet-class>com.example.servlet.controller.Nutritionist.UpdateBlogsServerLet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBlogsServerLet</servlet-name>
        <servlet-class>com.example.servlet.controller.Nutritionist.DeleteBlogsServerLet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListBlogsServerLet</servlet-name>
        <servlet-class>com.example.servlet.controller.Nutritionist.ListBlogsServerLet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <url-pattern>/GoogleLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GitHubLoginServlet</servlet-name>
        <url-pattern>/GitHubLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/ResetPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateBlogsServerLet</servlet-name>
        <url-pattern>/createblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBlogsServerLet</servlet-name>
        <url-pattern>/updateblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBlogsServerLet</servlet-name>
        <url-pattern>/deleteblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBlogsServerLet</servlet-name>
        <url-pattern>/listblog</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>com.example.servlet.controller.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.example.servlet.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>com.example.servlet.controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.example.servlet.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>com.example.servlet.controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>com.example.servlet.controller.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>com.example.servlet.controller.ResetPasswordController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/ProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/ForgotPasswordController</url-pattern>
    </servlet-mapping>
</web-app>
